.first:link {
    color: rgb(150, 14, 14);
    font-size: 50px;
}

.second:hover {
    color: blue;
    font-size: 100px;
}

.third:active {
    font-size: 150px;
    color: gold;
}

.fourth:visited {
    color: rgb(0, 0, 0);
}

li:hover {
    background-color: red;
}

li:not(:hover) {
    background-color: green;
}

.greeting p {
    background-color: blue;
    font-size: 50px;
    padding: 5px;
    display: none;
}

.greeting:hover p {
    display: block;
}