<footer style="background-color: cornflowerblue;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="footer-section">
          <p>
            Corporate Head Office<br />
            Example Pvt. Ltd.,<br />
            off Western Express Highway,<br />
            Sahar-Chakala Road, Parsiwada,<br />
            Andheri (E), Mumbai 400 099.
          </p>
          <p>2019, Copyright© All rights reserved.</p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="footer-section">
          <p>
            If you have a particular query, please select the concerned <br />department:
          </p>
          <p>
            <a class="links" href="#">Exports: exports@example.com</a><br />
            <a class="links" href="#">Preforms: preforms@example.com</a><br />
            <a class="links" href="#">Consumer Cell: consumercell@example.com</a><br />
            <a class="links" href="#">Media Queries: corpcomm@example.com</a><br />
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="footer-section">
          <p>
            Our Policy: <a class="links" href="#">Vigil Mechanism Policy</a><br />
            <a class="links" href="#">Annual Return</a> <br />
            Get in touch:<br />
            T: 000 - 0000 0000<br />
            E: <a class="links" href="#">info@example.com</a><br />
            Follow us : Instagram, Twitter and Linkedin
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
