<!--template.html-->
{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>

<!-- {% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %} -->

<!-- {% with firstname="Tobias" %}
<h1>Hello {{ first_name }}, how are you?</h1>
{% endwith %} -->

<!-- <ul>
  {% for x in mymembers %}
    <li>{{ x.first_name }}</li>
  {% endfor %}
</ul> -->

<!-- {% if x is y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %} -->

{% if x == y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}

{% include 'mymenu.html' with me="Anees" sponser="Midlaj" %}

<p>In views.py you can see what the fruits variable looks like.</p>
{% include 'footer.html' %}
</body>
</html>