<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Students List</h1>
    <ul>
        {% for student in students %}
        <li>
            <strong>{{ student.name }}</strong> ({{ student.batch }})  
            <p>{{ student.week }} - {{ student.grade }}</p>
        </li>
        {% empty %}
        <li>No movies available.</li>
        {% endfor %}
    </ul>
</body>
</html>
